<!DOCTYPE html>
<html lang="en">
<head>
  <base href="{{ @BASE }}" />
  <title>{{ @page_head . ' ' . @site }}</title>
  <!-- Bootstrap -->
  <link href="/ui/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/ui/css/styles.css" rel="stylesheet" media="screen">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
  <script src="../../ui/js/bootstrap.min.js"></script>
  <script src="../../ui/js/main.js"></script>
</head>
<body>
  <check if="{{ @is_authentificated }}">
    <include href="nav.html" />
  </check>
  <div class="container">
    <div class="jumbotron">
        <h1>{{ @page_head }}</h1>
    </div>
