<nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse">
        <a href="/" class="navbar-brand">AdController</a>
        <ul class="nav navbar-nav">
            <li>
                <a href="/create">
                    <span class="glyphicon glyphicon-plus-sign"></span> Добавить площадку
                </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-comment"></span> Объявления
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/ads"><span class="glyphicon glyphicon-list-alt"></span> Список</a></li>
                    <li><a href="/ads/create"><span class="glyphicon glyphicon-plus-sign"></span> Добавить</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Выйти</a>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
