<form action="{{ '/edit' }}" method="post" class="form-horizontal" role="form">

    <div class="input-group col-sm-5">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span> Домен
        </span>
        <input type="text" name="domain" value="{{ @POST.domain }}" class="form-control">
    </div>

    <br>

    <div class="input-group col-sm-5">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span> Премя показа с
        </span>
        <input type="text" name="display_from_time" value="{{ @POST.display_from_time }}" class="form-control">
    </div>

    <br>

    <div class="input-group col-sm-5">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span> Премя показа по
        </span>
        <input type="text" name="display_to_time" value="{{ @POST.display_to_time }}" class="form-control">
    </div>

    <br>

    <div class="input-group col-sm-5">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span> Минимальное время сбора статистики
        </span>
        <input type="text" name="min_collect_time" value="{{ @POST.min_collect_time }}" class="form-control">
    </div>

    <br>

    <div class="form-group">
        <div class="col-sm-5">
            <input type="hidden" name="id" value="{{ @POST.id }}" />
            <input type="hidden" name="update" value="update" />
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-edit"></span> Изменить
            </button>
        </div>
    </div>
</form>