<table cellpadding="5" class="table table-hover table-bordered platform-list">
    <thead>
    <tr>
        <th scope="col">Домен</th>
        <th scope="col">Модуль</th>
        <th scope="col">Показано объявлений</th>
        <th scope="col">Переходов по объявлениям</th>
        <th scope="col">Конверсия</th>
        <th scope="col">Действие</th>
    </tr>
    </thead>


    <tbody>
    <repeat group="{{ @sites }}" value="{{ @site }}">
        <tr class="platform" data-domain="{{ trim(@site.domain) }}">
            <td><h4><a href="http://{{ trim(@site.domain) }}" target="_blank">{{ trim(@site.domain) }}</a></td>
            <td class="text-center">
                <button class="btn btn-warning refresh_module_status__btn" data-domain="{{ trim(@site.domain) }}">
                    <span class="glyphicon glyphicon-refresh spin"></span>
                </button>
            </td>
            <td>{{ trim(@site.ad_views) }}</td>
            <td>{{ trim(@site.ad_transitions) }}</td>
            <td>
                <check if="{{ @site.ad_transitions > 0 }}">
                    <true>{{ ((int) trim(@site.ad_views)) / ((int) trim(@site.ad_transitions)) }}</true>
                    <false>0</false>
                </check>
            </td>
            <td class="text-center">
                <a href="{{ '/edit/'. @site.id }}" class="btn btn-primary" title="Редактировать натройки">
                  <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="{{ '/delete/'. @site.id }}" class="btn btn-danger" title="Удалить площадку">
                  <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a href="{{ '/upload/'. @site.domain }}" class="btn btn-info" title="Загрузить файл">
                  <span class="glyphicon glyphicon-plus-sign"></span>
                </a>
                <button class="btn refresh_stats__btn <check if='@site.sync'><true>btn-success</true><false>btn-danger</false></check>" title="Проверить актуальность конфига">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
            </td>
        </tr>
    </repeat>
    </tbody>
</table>
